html, body {
	height: 100%;
	margin: 0;
	}
body {
	background-image: url('https://cdn.luogu.com.cn/upload/image_hosting/bzfwvnd6.png');
	background-size: cover;
	background-position: center;
}